<a href="https://colab.research.google.com/github/SAGARIKA-SHAH/video_game_sales_machine_learning/blob/main/video_game_sales_machineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/SAGARIKA-SHAH/video_game_sales_machine_learning/main/PS4_GamesSales.csv',header=0, encoding='unicode_escape')
df

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [22]:
df.shape

(1034, 9)

In [8]:
df.describe()

,Year,North America,Europe,Japan,Rest of World,Global
count,825.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000
mean,2015.966061,0.204613,0.248714,0.033636,0.089014,0.576054
std,1.298360,0.563471,0.785491,0.108344,0.249410,1.583534
min,2013.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,0.020000,0.000000,0.000000,0.010000,0.060000
75%,2017.000000,0.120000,0.130000,0.030000,0.050000,0.357500
max,2020.000000,6.180000,9.710000,2.170000,3.020000,19.390000

In [19]:
df.values

array([['Grand Theft Auto V', 2014.0, 'Action', ..., 0.6, 3.02, 19.39],
       ['Call of Duty: Black Ops 3', 2015.0, 'Shooter', ..., 0.41, 2.44,
        15.09],
       ['Red Dead Redemption 2', 2018.0, 'Action-Adventure', ..., 0.21,
        2.26, 13.94],
       ...,
       ['The Mummy Demastered', nan, 'Action', ..., 0.0, 0.0, 0.0],
       ['Project Nimbus: Code Mirai', nan, 'Action', ..., 0.0, 0.0, 0.0],
       ['Battle Chef Brigade', nan, 'Action', ..., 0.0, 0.0, 0.0]],
      dtype=object)

Index(['Game'], dtype='object')